news-service/src/main/resources/news.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="news">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="idNews" type="xs:int"/>
                <xs:element name="title" type="xs:string"/>
                <xs:element name="body" type="xs:string"/>
                <xs:element name="tags" type="xs:string"/>
                <xs:element name="created" type="xs:string"/>
                <xs:element name="idPlayer" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>